<%= stylesheet_link_tag "common/common", :plugin => "redmine_chart" %>
<%= stylesheet_link_tag "stacked_bar_charts/index", :plugin => "redmine_chart" %>
<%= stylesheet_link_tag "jquery-ui.min", :plugin => "redmine_chart" %>
<%= stylesheet_link_tag "jquery.MultiSelectFilter", :plugin => "redmine_chart" %>
<%= javascript_include_tag "d3.v4.min", :plugin => "redmine_chart" %>
<%= javascript_include_tag "jquery-3.1.0.min", :plugin => "redmine_chart" %>
<%= javascript_include_tag "jquery-ui.js", :plugin => "redmine_chart" %>
<% if 'ja' == I18n.locale.to_s %>
  <%= javascript_include_tag "jquery.ui.datepicker-ja.min.js", :plugin => "redmine_chart" %>
<% end %>
<%= javascript_include_tag "common/common", :plugin => "redmine_chart" %>
<%= javascript_include_tag "stacked_bar_charts/index", :plugin => "redmine_chart" %>
<%= javascript_include_tag "stacked_bar_charts/stacked_bar_charts", :plugin => "redmine_chart" %>
<%= javascript_include_tag "jquery.MultiSelectFilter", :plugin => "redmine_chart" %>

<h2 class="redmine_chart"><%= '積み上げ棒グラフ' %></h2>

<%= render(partial: "layouts/change_view",:locals => {
    :index => project_stacked_bar_charts_path,
    :project_identifier => @project.identifier
} ) %>

<%= cell("cells/filter").(:sum, {project_id: @project.id,
                                 params: params, filter: @filter,
                                 member: @member}) %>

<%= cell("cells/filter").(:filter, project_id: @project.id) %>

<%= cell("cells/filter").(:stackBar_filter) %>

<svg id="MyGraph" class="svg_main"></svg>

<script>

  var $p = {};
  $p.index = new IndexController({
    chart: new StackedBarChart(<%== JSON.generate(@chart_data) %>),
    url: '<%= get_stacked_bar_chart_data_project_stacked_bar_charts_path %>'
  });

</script>
