%fieldset#filters.collapsible{class: 'design'}
  %legend{onclick: "toggleFieldset(this);"}
    = t('.timeSeries_filter')
  %div
    = form_tag('/index', :method => :get, :class => 'filter-form') do
      %div{style: "float: left;margin-left: 5px"}
        %label{for: "kind", style: "float: left;margin-top: 2px;"}
          = '期間:'
        = select_tag 'f_kind', options_for_select(@kind, params[:f_kind]),{:class => 'filter-change period-change'}
      %div{style: "float: left;margin-left: 5px"}
        %label{for: "period-input-day", style: "float: left;margin-top: 2px;"}
          = '期間:'
        %div{id: 'period-input-day',style: "float: left;margin-left: 5px", class: 'period-input'}
          =  text_field_tag 'f_d_start', params[:f_d_start], {class: 'input-day', readonly: true}
          ～
          =  text_field_tag 'f_d_end', params[:f_d_end], {class: 'input-day', readonly: true}
        %div{id: 'period-input-week',style: "float: left;margin-left: 5px;display: none;", class: 'period-input'}
          = select_tag 'f_week_cnt', options_for_select(Array(1..20), params[:f_week_cnt]),{:class => 'filter-change'}
          = '週前～'
          =  text_field_tag 'f_w_end', params[:f_w_end], {class: 'input-day', readonly: true}
        %div{id: 'period-input-month',style: "float: left;margin-left: 5px;display: none;", class: 'period-input'}
          = select_tag 'f_m_start', options_for_select(@months, @months[12]),{:class => 'filter-change'}
          ～
          = select_tag 'f_m_end', options_for_select(@months),{:class => 'filter-change'}
      %div{style: "float: left;margin-left: 5px"}
        %label{for: "view_point", style: "float: left;margin-top: 2px;"}
          = t('.view_point')
        = select_tag 'f_view_point', options_for_select(@view_point, params[:f_view_point]),{:class => 'filter-change'}
      %div{style: "float: left;margin-left: 5px"}
        %label{for: "method", style: "float: left;margin-top: 2px;"}
          = t('.method')
        = select_tag 'f_method', options_for_select(@method, params[:f_method]),{:class => 'filter-change'}


